.container {
    position: fixed;
    top:0; bottom: 0; left: 0; right: 0;
    display: flex;
    flex-direction: column;
}
.panels-container {
    flex: auto 1 1;
    display: flex;
    flex-direction: row;
}
.breadcrumbs-container {
    padding: 3px;
}
.chat-container {
    flex: auto 1 1;
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.document-container {
    flex: auto 1 1;
}
