<h3>create new item data</h3>
<mat-nav-list>
    <a mat-list-item (click)="openLink($event)">
        <span mat-line>NoteBot:</span>
        <span mat-line>create new <b>note</b></span>
    </a>
    <a mat-list-item (click)="openLink($event)">
        <span mat-line>TargetBot:</span>
        <span mat-line>create new target</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
        <span mat-line>ScheduleBot:</span>
        <span mat-line>create new event</span>
    </a>
    <a mat-list-item (click)="openLink($event)">
        <span mat-line>Complex diagnostic Bot:</span>
        <span mat-line>start new complex diagnostic</span>
    </a>
</mat-nav-list>
