.container {
    display: flex;
    flex: auto 1 1;
    flex-direction: column;
}
.conversation-container {
    background-color: red;
    flex: auto 1 1;
    position: relative;
}
.input-text-container {
    background-color: yellow;
}
