.container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}
.author-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small-avatar {
    width: 50px;
}
.small-name {
    font-size: xx-small;
}
